* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

/* full header */

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* navbar */

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px 50px 150px;
    align-items: center;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

.text-primary {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
    font-size: 20px;
    color: #474747;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    padding: 18px 36px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.contact-btn {
    padding: 18px 36px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    margin-left: 30px;
}

/* banner */

.banner-container {
    margin: 0 50px 0 150px;
    display: flex;
    align-items: center;
    gap: 150px;
}


.banner-sub-title {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;

}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.fa-download,
.fa-phone {
    margin-right: 5px;
}


/* main starts */


main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about-info */

.about {
    margin-top: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin: 30px 0 50px 0;

}

.info-container {
    display: flex;
    justify-content: space-around;
}

.info .title {
    color: #757575;
    font-size: 20px;

}

.info .description {
    font-size: 20px;
    color: #474747;
    font-weight: 700;
}

/* what i do */

.what-i-do {
    margin-top: 130px;
    margin-bottom: 130px;
}

.what-i-do .section-title,
.what-i-do .section-description {
    text-align: center;
    padding: 0 100px;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.skill .title {

    color: #181818;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill .description {
    color: #757575
}

/* resume section */

.resume{
    margin-bottom: 100px;
}

.resume .section-title {
    text-align: center;
    margin-bottom: 100px;
}

.resume-container {
    display: flex;
    gap: 24px;
}

.content {
    margin: 30px 0;
}

.resume-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.content .title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.content .sub-title {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.content .description{
    color: #757575;

}

.resume .btn{
    text-align: center;
    margin-top: 50px;
}

/* footer */

.footer{
    display: flex;
    padding: 130px 200px;
    /* justify-content: space-between; */
    gap: 100px;
    background: #FFF8F3;
}

.footer .section-description{
    width: 562px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}


.footer a{
    text-decoration: none;
    margin-right: 10px;
}

input{
    display: block;
}


input[type="text"],input[type="email"],textarea{
    margin-top: 24px;
    width: 100%;
    padding: 18px 30px;
    border: 0;
}

input[type="submit"]{
    margin-top: 24px;
}

